body{
  background-color: #FFFBEB;
}

.cont {
  display: flex;
  justify-content: center;
}

.change {
  font-family: 'Open Sans', sans-serif;
  margin: 3px;
  background-color: #A7727D;
  color: #FFFBEB;
  border: 2px solid black ;
  padding: 7px;
  border-radius: 5px;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}

.product-info {
  text-align: center;
  line-height: 0.5em;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.back {
  text-shadow: 3px 4px 5px #820000; 
  padding: 10px;
  text-align: center; 
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #820000;
  text-shadow: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #472D2D;
  padding: 15px;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: #f6f6f6;
  text-shadow: 3px 4px 5px #E0144C;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

img {
  border-radius: 15px;
}

.btn {
  margin: 5px;
  border-radius: 3px solid black;
  border: 10px;
}

.container {
  padding: 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.text {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: #FF0032;
  text-shadow: 3px  2px 2px black;
}

.desc {
  font-weight: 300px;
}

.first {
  flex: 1;
  z-index: -1;
  position: relative;
}

.post {
  position: absolute;
  left: 200px;
  top: 350px;
  font-size: 50px;
  color: #820000;
  text-shadow: 3px  2px 2px white;
}

.postTwo {
  position: absolute;
  left: 200px;
  top: 450px;
  font-size: 30px;
  color: #820000;
  text-shadow: 2px  1px 1px white;
}


.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.listTwo {
  display: flex;
  flex: 3;
  margin: 20px;
}

.list {
  flex: 1;
  margin-right: 10px;
}

p {
  font-weight: bold;
  
}

span {
  color: #FF0032;
  text-shadow: 1.5px  1px 1px black;
}

.contTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
 text-decoration: none;
 color: #000;
 text-shadow: 1px .5px .5px #FF0032;
}


 @media all and (max-width: 800px) {
  .beauty {
    width: 700px;
    height: 820px;
    flex: 1;
    margin-left: 17px;
  }

  .image {
    align-self: center;
    width: 400px;
    height: 520px;
  }

  nav {
    padding: 5px;
    font-size: 20px;
  }

  .about {
    flex-direction: column;
  }

  .first {
    width: 100%;
    height: 500px;
  }

  .icon {
    width: 100%;
    height: 10px;
  }

  .aboutTwo {
    text-align: center;
  }

  p {
    font-size: 22px;
  }

  .list {
    margin: 10px;
  }
  .listTwo {
    margin: 10px;
  }

  .change {
    font-size: 17px;
  }

  .name {
    font-size: 20px; 
  }

} 

@media all and (max-width: 500px) {
  .image {
    width: 350px;
    height: 410px;
  }

  .beauty {
    width: 350px;
    height: 420px;
    margin-left: 8px;
  }

  .icon {
    width: 100%;
    height: 10px;
  }

  .back {
    padding: 15px;
  }

  .link {
    flex: 1;
    font-size: 12px;
  }

  nav {
    flex-wrap: wrap; 
    padding: 3px; 
    font-size: 10px;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 12px;
  }

  .first {
    width: 100%;
    height: 220px;
  }

  .post {
    left: 70px;
    top: 300px;
    font-size: 28px;
  }
  
  .postTwo {
    left: 60px;
    top: 350px;
    font-size: 20px;
  }

  .change {
    font-size: 12px;
  }

}